@model March_Madness.Models.ViewModels.OwnedPoolsViewModel
@{
	ViewBag.Title = "Index";
}

<h2>@User.Identity.Name's Pools</h2>

<p>
	@Html.ActionLink("New Pool", "Create")
</p>
<table id="pool-list" class="table md-col-3">

	@foreach (var item in Model.OwnedPools)
	{
		<tr>
			<td>
				<div class="form-group">
					@Html.HiddenFor(m => item.Id, new { id = "hidden-id-" + item.Id })
					<div class="form-control">

						@Html.TextBoxFor(m => item.Nickname,
						  new { @class = "form-control nickname", required = "required" })

					</div>
					<div class="form-control">
						@Html.TextBoxFor(m => item.EntryFee,
						  new { @class = "form-control entry-fee", required = "required" })

					</div>
					<div>
						<button class="btn btn-warning" style="display:none;">Update</button>
					</div>

				</div>
			</td>
			<td>
				@item.OwnerAddress
			</td>
		</tr>
	}

</table>

@section scripts
{
	<script type="text/javascript">
		function handleChange($this) {
			var updateButton = $this.parent().parent().find('.btn');

			function disableUpdate() {
				updateButton.attr('disabled', 'disabled');
				updateButton.addClass('btn-danger').removeClass('btn-warning');
				updateButton.off('click');
			}

			if ($this.val() === '' || $this.val() == 0) {
				disableUpdate();
			} else if (updateButton.is(':hidden') || updateButton.hasClass('btn-danger')) {
				updateButton.show();
				updateButton.removeAttr('disabled');
				updateButton.removeClass('btn-danger').addClass('btn-warning');
				updateButton.on('click', function () {
					var oldValue = $this.val()
					if ($this.val() === '' || $this.val() == 0 ) { disableUpdate(); }
					var parent_group = $this.parent().parent();
					$.ajax({
						url: '/api/Pool/Update',
						method: 'POST',
						dataType: 'json',
						data: { Nickname: parent_group.find('.nickname').val(), PoolId: parent_group.find("[id^='hidden-id']").val(), EntryFee: parent_group.find('.entry-fee').val(), Address: '0x0' },
						success: function () {
							updateButton.off('click');
							updateButton.removeClass('btn-danger').removeClass('btn-warning').addClass('btn-success').text('Saved');
							setTimeout(function () {
								updateButton.hide();
								updateButton.text('Update');
							}, 4000)

						},
						failure: (a) => { console.log(a) }
					});

				});
			}
		}
		$(function () {
			$('#pool-list').on("keyup", "input.form-control", function () {
				handleChange($(this));
			});
		})


	</script>
}


